{

    "name" : "war" ,
    
    "port" : 666 ,
    
    "network_device" : "enp2s0" ,
    
    "stream" : 
    {
        "stdin" : "default" ,
        "stdout" : "/tmp/moonserver.std" ,
        "stderr" : "/tmp/moonserver.std" 
    }
    
    ,
    
    "directorys" : 
    {
        "moonserver"       : "~/.cosmos/moonserver" ,
        "applications"     : "~/.cosmos/moonserver/applications" ,
        "application_profiles" : "~/.cosmos/moonserver/application_profiles"
    }

}
