{
    "pid"    : "/tmp/moonserver.pid",
    "stdin"  : "/dev/null",
    "stdout" : "/tmp/moonserver.std",
    "stderr" : "/tmp/moonserver.std",
    
    "base" : "/home/moonserver",
    
    "applications" : "applications" , 
    
    "applications_map" : "applications_map" , 

    "network_interface" : "enp2s0"
} 
